.form {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.form__section {
    width: 100%;
    display: flex;
    padding: 1.2rem 0;
    flex-direction: column;
}
.form__section__title {
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 0.2rem;
    color: var(--dark-grey);
}
.form__section__input {
    height: 2.5rem;
    border: 1px solid var(--light-grey);
    border-radius: 0.3rem;
    color: var(--dark-grey);
    font-size: inherit;
    text-indent: 1rem;
}

.form__section__error {
    color: red;
    font-weight: lighter;
}

.form__submit {
    padding: 1.8rem 0;
}
.form__submit .form__submit__btn {
    background: #ffb367;
    color: white;
    font-size: 1.2rem;
    padding: 0.6rem 4rem;
    border-radius: 0.5rem;
    border: none;
}
.form__helper {
    font-weight: lighter;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}
.form__helper a {
    color: rgba(71, 71, 71, 0.712);
}
.form__helper a:hover {
    color: black;
}
@media screen and (max-width: 500px) {
    .form {
        width: 100%;
    }
}
