:root {
    --light-grey: rgb(192, 192, 192);
    --dark-grey: rgb(94, 94, 94);
    --bg-color: rgba(240, 240, 241, 0.336);
    --yellow: #ffb367;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0rem;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html,
body {
    box-sizing: border-box;
    background: var(--bg-color);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
